name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  default_ci:
    name: Run default CI of repository
    uses: ./.github/workflows/ci.yml

  publish_to_npm:
    name: Publish to-valibot to NPM
    needs: default_ci
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environment
      - name: Build to-valibot
        run: pnpm build
      - name: Publish to-valibot
        run: npm publish --access public --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
